<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CatalogoProductos</servlet-name>
        <servlet-class>Servlet.CatalogoProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrarCategoria</servlet-name>
        <url-pattern>/administrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarProducto</servlet-name>
        <url-pattern>/administrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarSolicitudRegistro</servlet-name>
        <url-pattern>/administrarSolicitudRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarCompra</servlet-name>
        <url-pattern>/administrarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarDetalleCompra</servlet-name>
        <url-pattern>/administrarDetalleCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarImagen</servlet-name>
        <url-pattern>/administrarImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarPerfil</servlet-name>
        <url-pattern>/administrarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarCarroCompra</servlet-name>
        <url-pattern>/administrarCarroCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoProductos</servlet-name>
        <url-pattern>/catalogoProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdministrarCategoria</servlet-name>
        <servlet-class>Servlet.AdministrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarProducto</servlet-name>
        <servlet-class>Servlet.AdministrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarSolicitudRegistro</servlet-name>
        <servlet-class>Servlet.AdministrarSolicitudRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarCompra</servlet-name>
        <servlet-class>Servlet.AdministrarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarDetalleCompra</servlet-name>
        <servlet-class>Servlet.AdministrarDetalleCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarImagen</servlet-name>
        <servlet-class>Servlet.AdministrarImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarPerfil</servlet-name>
        <servlet-class>Servlet.AdministrarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarCarroCompra</servlet-name>
        <servlet-class>Servlet.AdministrarCarroCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrarUsuario</servlet-name>
        <url-pattern>/administrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrarUsuario</servlet-name>
        <servlet-class>Servlet.AdministrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
</web-app>
